@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.font-montserrat {
    font-family: var(--font-montserrat), sans-serif;
}

.font-roboto {
    font-family: var(--font-roboto), sans-serif;
}